@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@400;700&family=Titan+One&display=swap');

/* Reset de estilos */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4px;
    color: #ffffff;
    background: #005FB6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

/* Conteúdo inicial */

.conteudo_inicial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.conteudo_inicial_titulo {
    font-family: 'Titan One';
    font-size: 5rem;    
    color: #005FB6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 32px;
}

.conteudo_inicial_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.conteudo_inicial_botao {
    width: 20%;
    height: 2em;
    background: #75BDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

/* Estilos gerais */

body{
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Lilita One';
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
}

h1{
    font-family: 'Titan One';
    font-size: 3rem;    
    color: #005FB6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 32px;
}

h2{
    font-size: 1.5rem;
}

p, li {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    list-style-type: none;
}

a {
    padding-right: 1em;
    padding-left: 1em;
    color: #ffffff;
}

.botao_voltar {
    color: black;
}

.imagem {
    width: 40%;
}

.imagem_pets{
    width: 80%;
}

.localizacao_link {
    color: #005FB6;
    font-size: 1.5rem;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

/* Seções */
#quem_somos {
    margin: 1em;
}

.quem_somos_conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;
    margin: 2em;
}

#pets {
    margin: 1em;
}

.pets_conteudo {
    margin: 2em;
    display: flex;
    justify-content: space-between;
}

#blog {
    margin: 1em;
}

.blog_conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.cadastro_ong, .cadastro_pet {
    height: 600px;
}

.cadastro_ong_conteudo, .cadastro_pet_conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}

.login {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 383px;
    height: 228px;
}

.confirmacao_pet {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmacao_pet_conteudo, .confirmacao_ong_conteudo {
    display: flex;
    flex-direction: column;
    width: 873px;
    height: auto;
    justify-content: center;
    text-align: center;
    gap: 16px;
    align-items: center;
}

/* Formulários */
textarea {
    width: 100%;
    height: 24px;
    padding: 0px;
    margin: 4px;
    box-sizing: border-box;
    color: black;
    background-color: #D9D9D9;
}

button, .voltar, .leia_mais, .quero_adotar {
    width: 160px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 5px;
    background: #75BDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #000000;
    font-family: 'Lilita One';
    font-size: 1.25rem;
    border-style: hidden;
}

input {
    width: 100%;
    height: 24px;
    padding: 0px;
    margin: 2px;
    box-sizing: border-box;
    color: black;
    font-size: 1.25rem;
    background-color: #D9D9D9;
}

.login_conteudo_formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 1em;
}

/* Rodapé */
footer{
    background-color: #005FB6;
}

footer .container {
    display: flex;
    color:white;
}

footer .container ul{ 
    width: 25%;
}

footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container ul > p {
    margin-bottom: 40px;
}

footer .container li {
    margin: 10px 0;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .cabecalho-menu {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo_inicial_titulo {
        font-size: 3rem;
        margin: 16px;
        text-align: center;
    }

    .conteudo_inicial_box {
        width: 100%;
    }

    .conteudo_inicial_botao {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quem_somos_conteudo {
        flex-direction: column;
        gap: 16px;
    }

    #pets {
        height: auto;
    }

    .pets_conteudo {
        flex-direction: column;
        gap: 16px;
    }

    .blog_conteudo {
        flex-direction: column;
        gap: 16px;
    }

    .cadastro_ong_conteudo, .cadastro_pet_conteudo {
        margin-top: 2em;
    }

    .login_conteudo {
        width: 100%;
        height: auto;
    }

    .confirmacao_pet_conteudo, .confirmacao_ong_conteudo {
        width: 100%;
        height: auto;
    }

    footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .container ul {
        width: 100%;
        text-align: center;
    }
}

